@import "@/scss";

.container {
    @include width-height(1000px, 100%);

    display: flex;
    flex-direction: column;

    padding: 10px;

    margin: 0 auto;

    @include desktop-small {
        width: 750px;
    }

    @include mobile-start {
        width: 100%;
    }
}
