@import "@/scss";
.block {
    background-color: $color-white-main;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.title {
    font-weight: bold;

    margin: 0 0 20px 0;
}
