@import "@/scss";

@keyframes loadingAnimation {
    0% {
        transform: scale(1);
    }

    25% {
        border-radius: $border-radius-main $border-radius-main
            $border-radius-mini $border-radius-mini;
    }

    50% {
        transform: scale(2);
    }

    75% {
        border-radius: $border-radius-mini $border-radius-mini
            $border-radius-main $border-radius-main;
    }

    100% {
        transform: scale(1);
    }
}

.loading {
    @include width-height("100%", "100%");
    @include fcc;

    &Circle {
        @include width-height(50px, 50px);
        @include transition;
        @include border-rounded;

        background-color: $color-blue-main;

        animation: loadingAnimation 2s infinite linear;
    }
}
